:root {
    --primary: #3b3b3b;
    --light: #e43737;
    --dark: 	#810707;
  }
  /*242424*/

  html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    padding-top: 60px;  
  }
  
  .wrappera {
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
    background-color: rgb(20, 20, 20);
  }
  
  .logoa {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    
    padding-left: 30px;
    padding-top: 0px;  
  }
  
  .logoa img {  
    height: 35px;     
  }
  
  #logua {
    margin: 0; 
    padding: 0; 
  }
  
  
  .nava {
    grid-area: mn;
    padding: 5px 30px 0 20px;
  }
  
  .nava a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
  }
  
  .nava a:hover {
    color: var(--dark);
  }
  
  .containera {
    padding: 50px;
  }
  
  .listia {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .listia a {
    transition: transform .3s;  
  }
  
  .listia a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .listia img {
    border-radius: 2px;
  }
  
  .logua {
    color: var(--dark);
  }

  footer {
    padding: 20px;
    text-align: center;
    color: #242424;
    margin: 10px;
  }

  @media(max-width: 900px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .listia {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  
  }
  
  @media(max-width: 700px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .listia {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  }
  
  @media(max-width: 500px) {
  
    .wrappera {
      font-size: 15px;
    }
  
    header {
      margin: 0;
      padding: 20px 0 0 0;
      position: static;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
      "nt"    
      "mn"
      "sb";
      text-align: center;
    }
  
    .logoa {
      max-width: 100%;
      margin: auto;
      padding-right: 20px;
    }
  
    .nava {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  
    h1 {
      text-align: center;
      font-size: 18px;
    }
  
    .listia {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;    
    }
  
    .listia a:hover {
      transition: transform .3s;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);  
      transform: scale(1.2);
    }}
